input[type="email"]:valid {
	background-color: green;

}

input[type="email"]:invalid {
	background-color: red;

}

input[type="url"]:valid {
	background-color: green;

}

input[type="url"]:invalid {
	background-color: red;

}

input[type="tel"]:valid {
	background-color: green;

}

input[type="tel"]:invalid {
	background-color: red;

}